.GameBoard{
  width: 650px;
  height: 350px;
  background: white;
  margin: auto;
}
.CellSM{
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  float: left;
  background: white;
  }
.CellMD{
  width: 25px;
  height: 25px;
  /* width: 35px;
  height: 35px; */
  /* width: 50px;
  height: 50px; */
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  float: left;
  background: white;
}